.DS_Store
.env
.grunt
.idea
.lock-wscript
.node_repl_history
.npm
.nyc_output

*.csv
*.dat
*.gz
*.iml
*.log
*.map
*.out
*.pid
*.seed
*.swp

bower_components
build/Release
coverage
coverage.*
lib-cov
lib/*.js
logs
node_modules
npm-debug.log*
pids
public/css/main.css
results
test/*.js
Thumbs.db
tmp
typings/
yarn.lock
